<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/bootstrap.min.css">

</head>
<body>
    
   <div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Admin</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="/dashboard" class="nav-link text-white ">
            Dashboard
          </a>
        </li>
        <li>
          <a href="/add_staff" class="nav-link text-white">
            Add Staff
          </a>
        </li>
        <li>
          <a href="/addstud" class="nav-link text-white">
              Add Student
          </a>
        </li>
        <!-- <li>
          <a href="/addresult" class="nav-link text-white active">
            Add Result
          </a>
        </li> -->
        <li>
            <a href="/view_result" class="nav-link text-white">
              view Result
            </a>
        </li>
        <li>
            <a href="/viewstud" class="nav-link text-white">
              view Student
            </a>
        </li>
        <li>
            <a href="/addstd" class="nav-link text-white">
              Add Standard
            </a>
        </li>
        <li>
            <a href="/adddiv" class="nav-link text-white">
              Add Division
            </a>
        </li>
      </ul>
      <div>
        <a href="/logout" class="text-center text-white d-block btn btn-danger text-decoration-none " >
          Logout
        </a>
      </div>
  </div>
  
  <div class="d-flex flex-column flex-shrink-0 p-3 vh-100 overflow-auto" style="width: calc(100vw - 280px);">
    <form method="post" class="mt-4 p-3 pb-4 px-4 shadow rounded-4">
        <% result.forEach(function(user){%>
       <h1 align="center">Add Result</h1>
                <table align="center">
                    <tr>
                        <td>Roll No :</td>
                        <td><input type="text" name="rno" value="<%= user.rno %>" readonly></td>
                    </tr>
                    <tr>
                        <td>Student Name :</td>
                        <td><input type="text" name="name" value="<%= user.name %>" readonly></td>
                    </tr>
                    <tr>
                        <td>Standard :</td>
                        <td><input type="text" name="std" value="<%= user.std %>" readonly></td>
                    </tr>
                    <tr>
                        <td>Division :</td>
                        <td><input type="text" name="division" value="<%= user.division %>" readonly></td>
                    </tr>
                    <tr>
                        <td>Gujarati :</td>
                        <td><input type="text" name="guj"></td>
                    </tr>
                    <tr>
                        <td>Hindi :</td>
                        <td><input type="text" name="hindi"></td>
                    </tr>
                    <tr>
                        <td>English :</td>
                        <td><input type="text" name="eng"></td>
                    </tr>
                    <tr>
                        <td>Maths :</td>
                        <td><input type="text" name="maths"></td>
                    </tr>
                    <tr>
                        <td>Science :</td>
                        <td><input type="text" name="sci"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Add Result"></td>
                    </tr>
                </table>
        <%})%> 
    </form>
</div>
</body>
</html>